.alert-primary {
  background-color: #0d6efd;
  color: #fff;
}
.alert-secondary {
  background-color: #6c757d;
  color: #fff;
}
.alert-success {
  background-color: #198754;
  color: #fff;
}
.alert-danger {
  background-color: #dc3545;
  color: #fff;
}
.alert-warning {
  background-color: #ffc107;
  color: #fff;
}
.alert-info {
  background-color: #0dcaf0;
  color: #fff;
}
.alert-light {
  background-color: #f8f9fa;
  color: #fff;
}
.alert-dark {
  background-color: #000;
  color: #fff;
}
.badge-primary {
  background-color: #0d6efd;
  color: #fff;
}
.badge-secondary {
  background-color: #6c757d;
  color: #fff;
}
.badge-success {
  background-color: #198754;
  color: #fff;
}
.badge-danger {
  background-color: #dc3545;
  color: #fff;
}
.badge-warning {
  background-color: #ffc107;
  color: #fff;
}
.badge-info {
  background-color: #0dcaf0;
  color: #fff;
}
.badge-light {
  background-color: #f8f9fa;
  color: #fff;
}
.badge-dark {
  background-color: #000;
  color: #fff;
}
.btn-primary {
  background-color: #0d6efd;
  color: #fff;
}
.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
.btn-success {
  background-color: #198754;
  color: #fff;
}
.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
.btn-warning {
  background-color: #ffc107;
  color: #fff;
  color: #2e2c2c;
}
.btn-info {
  background-color: #0dcaf0;
  color: #fff;
}
.btn-light {
  background-color: #f8f9fa;
  color: #fff;
}
.btn-dark {
  background-color: #000;
  color: #fff;
}
.accordion-primary {
  background-color: #0d6efd;
  color: #fff;
}
.accordion-secondary {
  background-color: #6c757d;
  color: #fff;
}
.accordion-success {
  background-color: #198754;
  color: #fff;
}
.accordion-danger {
  background-color: #dc3545;
  color: #fff;
}
.accordion-warning {
  background-color: #ffc107;
  color: #fff;
}
.accordion-info {
  background-color: #0dcaf0;
  color: #fff;
}
.accordion-light {
  background-color: #f8f9fa;
  color: #fff;
}
.accordion-dark {
  background-color: #000;
  color: #fff;
}
.table-primary {
  background-color: #0d6efd;
  color: #fff;
}
.table-secondary {
  background-color: #6c757d;
  color: #fff;
}
.table-success {
  background-color: #198754;
  color: #fff;
}
.table-danger {
  background-color: #dc3545;
  color: #fff;
}
.table-warning {
  background-color: #ffc107;
  color: #fff;
}
.table-info {
  background-color: #0dcaf0;
  color: #fff;
}
.table-light {
  background-color: #f8f9fa;
  color: #fff;
}
.table-dark {
  background-color: #000;
  color: #fff;
}
.p-0 {
  padding: 0rem;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 0.75rem;
}
.p-4 {
  padding: 1rem;
}
.p-5 {
  padding: 1.25rem;
}
.pt-0 {
  padding-top: 0rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pb-0 {
  padding-botoom: 0rem;
}
.pb-1 {
  padding-botoom: 0.25rem;
}
.pb-2 {
  padding-botoom: 0.5rem;
}
.pb-3 {
  padding-botoom: 0.75rem;
}
.pb-4 {
  padding-botoom: 1rem;
}
.pb-5 {
  padding-botoom: 1.25rem;
}
.pl-0 {
  padding-left: 0rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pl-5 {
  padding-left: 1.25rem;
}
.pr-0 {
  padding-right: 0rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pr-4 {
  padding-right: 1rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
@media (min-width: 576px) {
  .p-sm-0 {
    padding: 0rem;
  }
  .p-sm-1 {
    padding: 0.25rem;
  }
  .p-sm-2 {
    padding: 0.5rem;
  }
  .p-sm-3 {
    padding: 0.75rem;
  }
  .p-sm-4 {
    padding: 1rem;
  }
  .p-sm-5 {
    padding: 1.25rem;
  }
  .pt-sm-0 {
    padding-top: 0rem;
  }
  .pt-sm-1 {
    padding-top: 0.25rem;
  }
  .pt-sm-2 {
    padding-top: 0.5rem;
  }
  .pt-sm-3 {
    padding-top: 0.75rem;
  }
  .pt-sm-4 {
    padding-top: 1rem;
  }
  .pt-sm-5 {
    padding-top: 1.25rem;
  }
  .pb-sm-0 {
    padding-botoom: 0rem;
  }
  .pb-sm-1 {
    padding-botoom: 0.25rem;
  }
  .pb-sm-2 {
    padding-botoom: 0.5rem;
  }
  .pb-sm-3 {
    padding-botoom: 0.75rem;
  }
  .pb-sm-4 {
    padding-botoom: 1rem;
  }
  .pb-sm-5 {
    padding-botoom: 1.25rem;
  }
  .pl-sm-0 {
    padding-left: 0rem;
  }
  .pl-sm-1 {
    padding-left: 0.25rem;
  }
  .pl-sm-2 {
    padding-left: 0.5rem;
  }
  .pl-sm-3 {
    padding-left: 0.75rem;
  }
  .pl-sm-4 {
    padding-left: 1rem;
  }
  .pl-sm-5 {
    padding-left: 1.25rem;
  }
  .pr-sm-0 {
    padding-right: 0rem;
  }
  .pr-sm-1 {
    padding-right: 0.25rem;
  }
  .pr-sm-2 {
    padding-right: 0.5rem;
  }
  .pr-sm-3 {
    padding-right: 0.75rem;
  }
  .pr-sm-4 {
    padding-right: 1rem;
  }
  .pr-sm-5 {
    padding-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .p-md-0 {
    padding: 0rem;
  }
  .p-md-1 {
    padding: 0.25rem;
  }
  .p-md-2 {
    padding: 0.5rem;
  }
  .p-md-3 {
    padding: 0.75rem;
  }
  .p-md-4 {
    padding: 1rem;
  }
  .p-md-5 {
    padding: 1.25rem;
  }
  .pt-md-0 {
    padding-top: 0rem;
  }
  .pt-md-1 {
    padding-top: 0.25rem;
  }
  .pt-md-2 {
    padding-top: 0.5rem;
  }
  .pt-md-3 {
    padding-top: 0.75rem;
  }
  .pt-md-4 {
    padding-top: 1rem;
  }
  .pt-md-5 {
    padding-top: 1.25rem;
  }
  .pb-md-0 {
    padding-botoom: 0rem;
  }
  .pb-md-1 {
    padding-botoom: 0.25rem;
  }
  .pb-md-2 {
    padding-botoom: 0.5rem;
  }
  .pb-md-3 {
    padding-botoom: 0.75rem;
  }
  .pb-md-4 {
    padding-botoom: 1rem;
  }
  .pb-md-5 {
    padding-botoom: 1.25rem;
  }
  .pl-md-0 {
    padding-left: 0rem;
  }
  .pl-md-1 {
    padding-left: 0.25rem;
  }
  .pl-md-2 {
    padding-left: 0.5rem;
  }
  .pl-md-3 {
    padding-left: 0.75rem;
  }
  .pl-md-4 {
    padding-left: 1rem;
  }
  .pl-md-5 {
    padding-left: 1.25rem;
  }
  .pr-md-0 {
    padding-right: 0rem;
  }
  .pr-md-1 {
    padding-right: 0.25rem;
  }
  .pr-md-2 {
    padding-right: 0.5rem;
  }
  .pr-md-3 {
    padding-right: 0.75rem;
  }
  .pr-md-4 {
    padding-right: 1rem;
  }
  .pr-md-5 {
    padding-right: 1.25rem;
  }
}
@media (min-width: 992px) {
  .p-lg-0 {
    padding: 0rem;
  }
  .p-lg-1 {
    padding: 0.25rem;
  }
  .p-lg-2 {
    padding: 0.5rem;
  }
  .p-lg-3 {
    padding: 0.75rem;
  }
  .p-lg-4 {
    padding: 1rem;
  }
  .p-lg-5 {
    padding: 1.25rem;
  }
  .pt-lg-0 {
    padding-top: 0rem;
  }
  .pt-lg-1 {
    padding-top: 0.25rem;
  }
  .pt-lg-2 {
    padding-top: 0.5rem;
  }
  .pt-lg-3 {
    padding-top: 0.75rem;
  }
  .pt-lg-4 {
    padding-top: 1rem;
  }
  .pt-lg-5 {
    padding-top: 1.25rem;
  }
  .pb-lg-0 {
    padding-botoom: 0rem;
  }
  .pb-lg-1 {
    padding-botoom: 0.25rem;
  }
  .pb-lg-2 {
    padding-botoom: 0.5rem;
  }
  .pb-lg-3 {
    padding-botoom: 0.75rem;
  }
  .pb-lg-4 {
    padding-botoom: 1rem;
  }
  .pb-lg-5 {
    padding-botoom: 1.25rem;
  }
  .pl-lg-0 {
    padding-left: 0rem;
  }
  .pl-lg-1 {
    padding-left: 0.25rem;
  }
  .pl-lg-2 {
    padding-left: 0.5rem;
  }
  .pl-lg-3 {
    padding-left: 0.75rem;
  }
  .pl-lg-4 {
    padding-left: 1rem;
  }
  .pl-lg-5 {
    padding-left: 1.25rem;
  }
  .pr-lg-0 {
    padding-right: 0rem;
  }
  .pr-lg-1 {
    padding-right: 0.25rem;
  }
  .pr-lg-2 {
    padding-right: 0.5rem;
  }
  .pr-lg-3 {
    padding-right: 0.75rem;
  }
  .pr-lg-4 {
    padding-right: 1rem;
  }
  .pr-lg-5 {
    padding-right: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .p-xl-0 {
    padding: 0rem;
  }
  .p-xl-1 {
    padding: 0.25rem;
  }
  .p-xl-2 {
    padding: 0.5rem;
  }
  .p-xl-3 {
    padding: 0.75rem;
  }
  .p-xl-4 {
    padding: 1rem;
  }
  .p-xl-5 {
    padding: 1.25rem;
  }
  .pt-xl-0 {
    padding-top: 0rem;
  }
  .pt-xl-1 {
    padding-top: 0.25rem;
  }
  .pt-xl-2 {
    padding-top: 0.5rem;
  }
  .pt-xl-3 {
    padding-top: 0.75rem;
  }
  .pt-xl-4 {
    padding-top: 1rem;
  }
  .pt-xl-5 {
    padding-top: 1.25rem;
  }
  .pb-xl-0 {
    padding-botoom: 0rem;
  }
  .pb-xl-1 {
    padding-botoom: 0.25rem;
  }
  .pb-xl-2 {
    padding-botoom: 0.5rem;
  }
  .pb-xl-3 {
    padding-botoom: 0.75rem;
  }
  .pb-xl-4 {
    padding-botoom: 1rem;
  }
  .pb-xl-5 {
    padding-botoom: 1.25rem;
  }
  .pl-xl-0 {
    padding-left: 0rem;
  }
  .pl-xl-1 {
    padding-left: 0.25rem;
  }
  .pl-xl-2 {
    padding-left: 0.5rem;
  }
  .pl-xl-3 {
    padding-left: 0.75rem;
  }
  .pl-xl-4 {
    padding-left: 1rem;
  }
  .pl-xl-5 {
    padding-left: 1.25rem;
  }
  .pr-xl-0 {
    padding-right: 0rem;
  }
  .pr-xl-1 {
    padding-right: 0.25rem;
  }
  .pr-xl-2 {
    padding-right: 0.5rem;
  }
  .pr-xl-3 {
    padding-right: 0.75rem;
  }
  .pr-xl-4 {
    padding-right: 1rem;
  }
  .pr-xl-5 {
    padding-right: 1.25rem;
  }
}
.p-0 {
  margin: 0rem;
}
.p-1 {
  margin: 0.25rem;
}
.p-2 {
  margin: 0.5rem;
}
.p-3 {
  margin: 0.75rem;
}
.p-4 {
  margin: 1rem;
}
.p-5 {
  margin: 1.25rem;
}
.p-0 {
  margin-top: 0rem;
}
.p-1 {
  margin-top: 0.25rem;
}
.p-2 {
  margin-top: 0.5rem;
}
.p-3 {
  margin-top: 0.75rem;
}
.p-4 {
  margin-top: 1rem;
}
.p-5 {
  margin-top: 1.25rem;
}
.p-0 {
  margin-botoom: 0rem;
}
.p-1 {
  margin-botoom: 0.25rem;
}
.p-2 {
  margin-botoom: 0.5rem;
}
.p-3 {
  margin-botoom: 0.75rem;
}
.p-4 {
  margin-botoom: 1rem;
}
.p-5 {
  margin-botoom: 1.25rem;
}
.p-0 {
  margin-left: 0rem;
}
.p-1 {
  margin-left: 0.25rem;
}
.p-2 {
  margin-left: 0.5rem;
}
.p-3 {
  margin-left: 0.75rem;
}
.p-4 {
  margin-left: 1rem;
}
.p-5 {
  margin-left: 1.25rem;
}
.p-0 {
  margin-right: 0rem;
}
.p-1 {
  margin-right: 0.25rem;
}
.p-2 {
  margin-right: 0.5rem;
}
.p-3 {
  margin-right: 0.75rem;
}
.p-4 {
  margin-right: 1rem;
}
.p-5 {
  margin-right: 1.25rem;
}
@media (min-width: 576px) {
  .p-0 {
    margin: 0rem;
  }
  .p-1 {
    margin: 0.25rem;
  }
  .p-2 {
    margin: 0.5rem;
  }
  .p-3 {
    margin: 0.75rem;
  }
  .p-4 {
    margin: 1rem;
  }
  .p-5 {
    margin: 1.25rem;
  }
  .p-0 {
    margin-top: 0rem;
  }
  .p-1 {
    margin-top: 0.25rem;
  }
  .p-2 {
    margin-top: 0.5rem;
  }
  .p-3 {
    margin-top: 0.75rem;
  }
  .p-4 {
    margin-top: 1rem;
  }
  .p-5 {
    margin-top: 1.25rem;
  }
  .p-0 {
    margin-botoom: 0rem;
  }
  .p-1 {
    margin-botoom: 0.25rem;
  }
  .p-2 {
    margin-botoom: 0.5rem;
  }
  .p-3 {
    margin-botoom: 0.75rem;
  }
  .p-4 {
    margin-botoom: 1rem;
  }
  .p-5 {
    margin-botoom: 1.25rem;
  }
  .p-0 {
    margin-left: 0rem;
  }
  .p-1 {
    margin-left: 0.25rem;
  }
  .p-2 {
    margin-left: 0.5rem;
  }
  .p-3 {
    margin-left: 0.75rem;
  }
  .p-4 {
    margin-left: 1rem;
  }
  .p-5 {
    margin-left: 1.25rem;
  }
  .p-0 {
    margin-right: 0rem;
  }
  .p-1 {
    margin-right: 0.25rem;
  }
  .p-2 {
    margin-right: 0.5rem;
  }
  .p-3 {
    margin-right: 0.75rem;
  }
  .p-4 {
    margin-right: 1rem;
  }
  .p-5 {
    margin-right: 1.25rem;
  }
}
@media (min-width: 768px) {
  .p-0 {
    margin: 0rem;
  }
  .p-1 {
    margin: 0.25rem;
  }
  .p-2 {
    margin: 0.5rem;
  }
  .p-3 {
    margin: 0.75rem;
  }
  .p-4 {
    margin: 1rem;
  }
  .p-5 {
    margin: 1.25rem;
  }
  .p-0 {
    margin-top: 0rem;
  }
  .p-1 {
    margin-top: 0.25rem;
  }
  .p-2 {
    margin-top: 0.5rem;
  }
  .p-3 {
    margin-top: 0.75rem;
  }
  .p-4 {
    margin-top: 1rem;
  }
  .p-5 {
    margin-top: 1.25rem;
  }
  .p-0 {
    margin-botoom: 0rem;
  }
  .p-1 {
    margin-botoom: 0.25rem;
  }
  .p-2 {
    margin-botoom: 0.5rem;
  }
  .p-3 {
    margin-botoom: 0.75rem;
  }
  .p-4 {
    margin-botoom: 1rem;
  }
  .p-5 {
    margin-botoom: 1.25rem;
  }
  .p-0 {
    margin-left: 0rem;
  }
  .p-1 {
    margin-left: 0.25rem;
  }
  .p-2 {
    margin-left: 0.5rem;
  }
  .p-3 {
    margin-left: 0.75rem;
  }
  .p-4 {
    margin-left: 1rem;
  }
  .p-5 {
    margin-left: 1.25rem;
  }
  .p-0 {
    margin-right: 0rem;
  }
  .p-1 {
    margin-right: 0.25rem;
  }
  .p-2 {
    margin-right: 0.5rem;
  }
  .p-3 {
    margin-right: 0.75rem;
  }
  .p-4 {
    margin-right: 1rem;
  }
  .p-5 {
    margin-right: 1.25rem;
  }
}
@media (min-width: 992px) {
  .p-0 {
    margin: 0rem;
  }
  .p-1 {
    margin: 0.25rem;
  }
  .p-2 {
    margin: 0.5rem;
  }
  .p-3 {
    margin: 0.75rem;
  }
  .p-4 {
    margin: 1rem;
  }
  .p-5 {
    margin: 1.25rem;
  }
  .p-0 {
    margin-top: 0rem;
  }
  .p-1 {
    margin-top: 0.25rem;
  }
  .p-2 {
    margin-top: 0.5rem;
  }
  .p-3 {
    margin-top: 0.75rem;
  }
  .p-4 {
    margin-top: 1rem;
  }
  .p-5 {
    margin-top: 1.25rem;
  }
  .p-0 {
    margin-botoom: 0rem;
  }
  .p-1 {
    margin-botoom: 0.25rem;
  }
  .p-2 {
    margin-botoom: 0.5rem;
  }
  .p-3 {
    margin-botoom: 0.75rem;
  }
  .p-4 {
    margin-botoom: 1rem;
  }
  .p-5 {
    margin-botoom: 1.25rem;
  }
  .p-0 {
    margin-left: 0rem;
  }
  .p-1 {
    margin-left: 0.25rem;
  }
  .p-2 {
    margin-left: 0.5rem;
  }
  .p-3 {
    margin-left: 0.75rem;
  }
  .p-4 {
    margin-left: 1rem;
  }
  .p-5 {
    margin-left: 1.25rem;
  }
  .p-0 {
    margin-right: 0rem;
  }
  .p-1 {
    margin-right: 0.25rem;
  }
  .p-2 {
    margin-right: 0.5rem;
  }
  .p-3 {
    margin-right: 0.75rem;
  }
  .p-4 {
    margin-right: 1rem;
  }
  .p-5 {
    margin-right: 1.25rem;
  }
}
@media (min-width: 1200px) {
  .p-0 {
    margin: 0rem;
  }
  .p-1 {
    margin: 0.25rem;
  }
  .p-2 {
    margin: 0.5rem;
  }
  .p-3 {
    margin: 0.75rem;
  }
  .p-4 {
    margin: 1rem;
  }
  .p-5 {
    margin: 1.25rem;
  }
  .p-0 {
    margin-top: 0rem;
  }
  .p-1 {
    margin-top: 0.25rem;
  }
  .p-2 {
    margin-top: 0.5rem;
  }
  .p-3 {
    margin-top: 0.75rem;
  }
  .p-4 {
    margin-top: 1rem;
  }
  .p-5 {
    margin-top: 1.25rem;
  }
  .p-0 {
    margin-botoom: 0rem;
  }
  .p-1 {
    margin-botoom: 0.25rem;
  }
  .p-2 {
    margin-botoom: 0.5rem;
  }
  .p-3 {
    margin-botoom: 0.75rem;
  }
  .p-4 {
    margin-botoom: 1rem;
  }
  .p-5 {
    margin-botoom: 1.25rem;
  }
  .p-0 {
    margin-left: 0rem;
  }
  .p-1 {
    margin-left: 0.25rem;
  }
  .p-2 {
    margin-left: 0.5rem;
  }
  .p-3 {
    margin-left: 0.75rem;
  }
  .p-4 {
    margin-left: 1rem;
  }
  .p-5 {
    margin-left: 1.25rem;
  }
  .p-0 {
    margin-right: 0rem;
  }
  .p-1 {
    margin-right: 0.25rem;
  }
  .p-2 {
    margin-right: 0.5rem;
  }
  .p-3 {
    margin-right: 0.75rem;
  }
  .p-4 {
    margin-right: 1rem;
  }
  .p-5 {
    margin-right: 1.25rem;
  }
}
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
@media (min-width: 576px) {
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=master.css.map */